@import "lib/govuk-frontend/govuk/base";
@import "accessible-autocomplete.scss";

a#choose-another-method-link {
  margin-top: 10px;
}

.select-bank-button {
    margin-top:12px;
}

#selectedBankId.govuk-input--error {border-color: #d4351c}
#myAccountIsNotListed {margin-left:15px}

.print {
  display: none;
}

@media print {
  .print {
    display: unset
  }
}

